[submodule "third_party/inja"]
	path = third_party/inja
	url = https://github.com/pantor/inja.git
[submodule "third_party/pugixml"]
	path = third_party/pugixml
	url = https://github.com/zeux/pugixml.git
